[user]
	email = tobias.fuhrimann@swisscom.com
	name = Tobias Fuhrimann
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
