[user]
	email = tobias.fuhrimann@swisscom.com
	name = Tobias Fuhrimann
[push]
	default = matching
[core]
	excludesfile = /Users/taafuto1/.gitignore_global
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[color]
	ui = true

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
