[user]
	email = tobias.fuhrimann@swisscom.com
	name = Tobias Fuhrimann
[push]
	default = matching
[core]
	excludesfile = /Users/taafuto1/.gitignore_global
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[color]
	ui = true

# Kaleidoscope
[diff]
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[alias]
	ksreview = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-master}; if [ $SHA == $BRANCH ]; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA; }; f"
