extra.Brewfile
zsh/.zsh.d/extra.zsh

# gopass creates additional files which need to be ignored
gopass/.config/gopass
!gopass/.config/gopass/config.yml

# Vifm creates additional files which need to be ignored
vifm/.config/vifm/
!vifm/.config/vifm/vifmrc
!vifm/.config/vifm/colors
