extra.Brewfile
zsh/.zsh.d/extra.zsh

# NeoVim creates additional files which need to be ignored
nvim/.config/nvim
!gopass/.config/gopass/init.vim
!gopass/.config/gopass/plugins.vim

# gopass creates additional files which need to be ignored
gopass/.config/gopass
!gopass/.config/gopass/config.yml

# Vifm creates additional files which need to be ignored
vifm/.config/vifm/
!vifm/.config/vifm/vifmrc
!vifm/.config/vifm/colors
