#window {
  font-family: "Fira Mono";
  background-color: #1a1b26;
  color: #c0caf5;
}

#input {
  border-radius: 0;
  border-color: transparent;
  padding: 5px;
  background-color: #1a1b26;
  color: #c0caf5;
}

#entry {
  padding: 5px;
}

#entry:selected {
  outline: none;
  background-color: #bb9af7;
}
