#window {
  background-color: #1a1b26;
  font-family: "Fira Mono";
  color: #c0caf5;
}

#input {
  background-color: #1a1b26;
  border-radius: 0;
  border-color: transparent;
  color: #c0caf5;
  padding: 5px;
}

#entry {
  padding: 5px;
}

#entry:selected {
  background-color: #bb9af7;
  outline: none;
}
