/* General */
* {
  font-family: "Fira Mono";
  font-size: 13px;
  border-radius: 0;
  color: #bcbec0;
}

window#waybar {
  background: rgba(33, 33, 33, 0.9);
}

/* Workspaces */
#workspaces button {
  padding: 0 5px;
}

#workspaces button.focused {
  border-top: 2px solid #a48add;
  background: #414141;
}

/* Modules */
#clock,
#battery,
#network,
#pulseaudio,
#custom-updates,
#mode {
  margin: 0 8px;
  padding: 0 3px;
}

#mode,
#custom-updates {
  font-weight: bold;
  color: #a48add;
}

#network.disconnected {
  font-weight: bold;
  color: #dd7186;
}
