/* General */
* {
  border-radius: 0;
  font-family: "Fira Mono";
  font-size: 13px;
  color: #bcbec0;
}

window#waybar {
  background-color: #212121;
}

/* Workspaces */
#workspaces button {
  padding: 0 5px;
}

/* Workspaces */
#workspaces button:hover {
  background: #414141;
  border-color: transparent;
  box-shadow: none;
}

#workspaces button.focused {
  background-color: #414141;
  border-top: 2px solid #a48add;
}

/* Modules */
#clock,
#battery,
#network,
#pulseaudio,
#custom-updates,
#custom-failed-services,
#mode {
  padding: 0 3px;
  margin: 0 8px;
}

#mode,
#custom-updates {
  font-weight: bold;
  color: #a48add;
}

#custom-failed-services {
  font-weight: bold;
  color: #dd7186;
}

#network.disconnected {
  font-weight: bold;
  color: #dd7186;
}
