# Enable aliases to be sudo-ed
alias sudo='sudo '

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."

# npm update
alias npmu='npm install && npm update && npm prune && npm dedupe && npm outdated'
