# Prefer US English and use UTF-8
export LC_ALL='en_US.UTF-8';
export LANG='en_US.UTF-8';

# Make vim the default editor
export EDITOR='vim';
export VISUAL="${EDITOR}"

# Omit duplicates and commands that begin with a space from history
export HISTCONTROL='ignoreboth';

# Search only desired files with fzf
export FZF_DEFAULT_COMMAND='rg --smart-case --files --no-ignore --hidden --follow --glob "!.DS_Store" --glob "!.git/*" --glob "!vendor/*" --glob "!node_modules/*" --glob "!.terraform/*" --glob "!bin/*" --glob "!build/*" --glob "!coverage/*" --glob "!dist/*" --glob "!target/*"'

# Enable Go modules by default
export GO111MODULE=on

# Set correct TTY for GPG
export GPG_TTY="$(tty)"
