# Create a new directory and enter it
function mkcd() {
    mkdir -p "$@" && cd "$_" || exit;
}

# cd into directory with fzf
function fcd() {
    local dir
    dir=$(find ${1:-.} -path '*/\.*' -prune \
    -o -type d -print 2> /dev/null | fzf +m) &&
    cd "$dir"
}

# Checkout branches or tags with fzf
function fco() {
    local tags branches target
    tags=$(git tag | awk '{print "\x1b[31;1mtag\x1b[m\t" $1}') || return
    branches=$(
        git branch --all | grep -v HEAD             |
        sed "s/.* //"    | sed "s#remotes/[^/]*/##" |
        sort -u          | awk '{print "\x1b[34;1mbranch\x1b[m\t" $1}') || return
    target=$(
        (echo "$tags"; echo "$branches") |
        fzf-tmux -l30 -- --no-hscroll --ansi +m -d "\t" -n 2) || return
    git checkout $(echo "$target" | awk '{print $2}')
}

# fkill - kill process
function fkill() {
    local pid
    pid=$(ps -ef | sed 1d | fzf -m | awk '{print $2}')

    if [ "x$pid" != "x" ]; then
      echo $pid | xargs kill -${1:-9}
    fi
}

# fshow - git commit browser
function fshow() {
    git log --graph --color=always \
        --format="%C(auto)%h%d %s %C(black)%C(bold)%cr" "$@" |
    fzf --ansi --no-sort --reverse --tiebreak=index --bind=ctrl-s:toggle-sort \
        --bind "ctrl-m:execute:
        (grep -o '[a-f0-9]\{7\}' | head -1 |
        xargs -I % sh -c 'git show --color=always % | less -R') << 'FZF-EOF'
        {}
FZF-EOF"
}

# Open tmux and vim in an IDE like layout
function ide() {
    if [ ! -z "$1" ]; then
        cd "$1" || exit
    fi

    if [ ! -n "${TMUX}" ]; then
        tmux new-session -d -s ide 'vim +NERDTree'
        tmux split-window -v -p 10
        tmux select-pane -t 0
        tmux attach-session -d -t ide
    else
        tmux split-window -v -p 10
        tmux select-pane -t 0
        vim +NERDTree
    fi
}

# Update dependencies
funcion depu() {

    # npm
    pkg_count=$(ls -1 package.json 2>/dev/null | wc -l)
    if [ "${pkg_count}" -gt 0 ]; then
        echo 'Updating npm dependencies...\n'
        npm install
        npm update
        npm prune
        npm outdated
    fi

    # Go dep
    pkg_count=$(ls -1 Gopkg.toml 2>/dev/null | wc -l)
    if [ "${pkg_count}" -gt 0 ]; then
        echo "Updating Go dep dependencies...\n"
        dep ensure
        dep ensure -update
        dep prune
    fi

}

# System update
function pacu() {

    # Dotfiles repo
    echo '\e[1mUpdating dotfiles repo\e[0m'
    (cd "${HOME}/dotfiles" && git pull)

    # System tools
    case "$(uname)" in
    # On Linux, use the respective package manager
    'Linux')
        # Arch Linux
        if [ -x "$(command -v pacman)" ]; then
            echo '\e[1mUpdating pacman packages\e[0m'
            sudo pacman -Syu --noconfirm
            sudo pacman -Rns $(pacman -Qtdq) --noconfirm
            sudo pacman -Sc --noconfirm
            sudo pacman-optimize
        fi
        if [ -x "$(command -v yaourt)" ]; then
            echo '\e[1mUpdating yaourt packages\e[0m'
            yaourt -Syua --noconfirm
        fi
        # Debian
        if [ -x "$(command -v apt-get)" ]; then
            echo '\e[1mUpdating apt packages\e[0m'
            sudo apt-get update
            sudo apt-get upgrade -y
            sudo apt-get dist-upgrade -y
            sudo apt-get autoremove -y
        fi
        ;;
    # On macOS, use mas and Homebrew in parallel
    'Darwin')
        if [ -x "$(command -v mas)" ]; then
            echo '\e[1mUpdating Mac App Store apps\e[0m'
            (mas upgrade) &
            mas_pid="$!"
        fi
        if [ -x "$(command -v brew)" ]; then
            echo '\e[1mUpdating Homebrew packages\e[0m'
            brew update
            cat ~/dotfiles/Brewfile* | brew bundle --file=-
            cat ~/dotfiles/Brewfile* | brew bundle cleanup --force --file=-
            brew cleanup
        fi
        if typeset -f zprezto-update > /dev/null; then
            echo "\e[1mUpdating zprezto\e[0m"
            zprezto-update &
            zprezto_pid="$!"
        fi
        wait "${mas_pid}" &> /dev/null
        wait "${zprezto_pid}" &> /dev/null
        ;;
    esac

# Go
    if [ -x "$(command -v go)" ]; then
        echo '\e[1mUpdating Go binaries\e[0m'
        ("${HOME}/dotfiles/update-go.sh") &
        go_pid="$!"
    fi

# Node.js and npm
    if [ -x "$(command -v npm)" ]; then
        echo '\e[1mUpdating globally installed npm packages\e[0m'
        (npm update -g) &
        npm_global_pid="$!"

        wait "${npm_global_pid}"
        npm outdated -g
        echo '\e[1mUpdating Node.js projects\e[0m'
        ("${HOME}/dotfiles/update-js.sh") &
        npm_pid="$!"
    fi

# Ruby
    if [ -x "$(command -v gem)" ]; then
        echo '\e[1mUpdating Ruby gems\e[0m'
        (gem update --force && gem cleanup) &
        ruby_pid="$!"
    fi

# Python
    if [ -x "$(command -v pip)" ]; then
        echo '\e[1mUpdating pip packages\e[0m'
        (for pkg in $(pip list --outdated | cut -d' ' -f1); do pip install --user --upgrade $pkg; done) &
        python_pid="$!"
    fi
    if [ -x "$(command -v pip2)" ]; then
        echo '\e[1mUpdating pip2 packages\e[0m'
        (for pkg in $(pip2 list --outdated | cut -d' ' -f1); do pip2 install --user --upgrade $pkg; done) &
        python_pid="$!"
    fi

# Python3
    if [ -x "$(command -v pip3)" ]; then
        echo '\e[1mUpdating pip3 packages\e[0m'
        (for pkg in $(pip3 list --outdated | cut -d' ' -f1); do pip3 install --user --upgrade $pkg; done) &
        python3_pid="$!"
    fi

# Vim
    if [ -x "$(command -v vim)" ]; then
        echo '\e[1mUpdating vim plugins\e[0m'
        vim -c 'PlugClean! | PlugUpgrade | PlugUpdate | qa'
    fi

# Wait for all processes to finish
    wait "${npm_pid}" &> /dev/null
    wait "${go_pid}" &> /dev/null
    wait "${ruby_pid}" &> /dev/null
    wait "${python_pid}" &> /dev/null
    wait "${python3_pid}" &> /dev/null

    echo '\e[1mSystem update finished\e[0m'
}
